.image-placeholder {
  width: 10rem;
  height: 7.5rem;
  min-width: 10rem; /* Minimum width to prevent shrinking too small */
  min-height: 7.5rem; /* Minimum height to prevent shrinking too small */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Optional: add border for visibility */
};

.flex-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: fill;
}